<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
        <%= form_tag(:login) do %>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Sign In</button>
          </div>
        <% end%>
      </div>
      <div class="modal-footer">
        <%= link_to "Register", :register, { :class=> "btn btn-lg btn-default pull-left" } %>
        <%= link_to "Cancel", :root, { :class=> "btn btn-lg btn-default pull-right" } %>
      </div>
    </div>
  </div>
</div>